<div class="text-center mt-5">
  <h1>Any Listing App</h1>
  <p class="lead">
    A web app to create, manage and monetize hotel and location listings
  </p>
  <%= link_to "Add Listing", new_listing_path, class: "btn btn-primary" %>
</div>

<div class="text-center mt-5">
  <h2>Recent listings</h2>
  <hr/>
</div>

<%= render @listings %>
